:root {
  --pst-sidebar-width: 10rem;          /* links */
  --pst-sidebar-secondary-width: 10rem;/* rechts */
  --pst-content-max-width: 100vw;       /* breite Lesespalte */
}

@media (min-width: 992px) {
  .bd-content .bd-article-container,
  .bd-main .bd-content { max-width: 90vw !important; }
}

